<h3>Регистрация</h3>
<p>Если есть желание записаться, то сделать это можно здесь!</p>

<form action="/visit" method="POST" role="form">
 
  <div class="form-group">
    <label>Ваше имя</label>
    <input id="ccc" name="username" type="text" class="form-control" placeholder="Ваше имя">
  </div>
<div class="form-group">
    <label>Ваш телефон</label>
    <input id="bbb" name="phone" type="text" class="form-control" placeholder="Ваш телефон">
  </div>
  <div class="form-group">
    <label>Ваше время</label>
    <input id="aaa" name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
  </div> 
  <div>  
    <label>Выберите парикмахера</label>
    <select name="barbers" class="form-control ccc">
      <option value="Walter White">1.Walter White</option>
      <option value="Jessie Pinkman">2.Jessie Pinkman</option>
      <option value="Gus Fring">3.Gus Fring</option>
    </select></div><br/>
  
    <button type="submit" class="btn btn-primary">OK</button>
</form>

<script type="text/javascript">
  $('#aaa').css('background-color','yellow');
  $('#bbb').css('background-color','lightblue');
  $('#ccc').css('background-color','red');
  $('.ccc').css('background-color','green');
</script>
